<%= character.name %> <%= character.id %>
<h1>hello</h1>
<form action="/characters/id:update" action="POST">
  <label>Name: <input type="text" name="name" value="<%= character.name %> "></label>
</form>  